# Data Pre-processing

In [5]:
#Importing all the required libraries
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 50)

## Importing Datasets

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:
assignment_2 = pd.read_csv('/content/drive/MyDrive/CSE445_Assignment/2/Date_and_model_wise_sale.csv')

In [8]:
assignment_2.head()

        Date Model  Count
0  31-Aug-16   M45      5
1  31-Aug-16  M121      3
2  31-Aug-16  M122      4
3  31-Aug-16   M91     10
4  31-Aug-16   M66     57

## Exploring Data

In [9]:
assignment_2.describe()

              Count
count  46116.000000
mean      96.690108
std      315.065946
min        1.000000
25%        3.000000
50%       14.000000
75%       67.000000
max     6678.000000